<div class = 'title')>
<h1>Viewing Zone</h1>
</div>
<p></p>

<table>
<tr>
<th>
<tr>
<td>
  <strong>Title of Piece:</strong>
  <%= @article.title %>
</td>
</tr>

<tr>
<td>
  <strong>Description:</strong>
  <%= @article.text %>
</td>
</tr>

<tr>
<td>
<strong>Image:</strong>
<p>
</p>
<%= image_tag @article.image_url %>	
</td>
</tr>
</th>
</tr>
</table>

<p></p>

<table>
<tr>
<th>
<%= link_to 'Back', articles_path %>
| <%= link_to 'Edit', edit_article_path(@article) %>
</th>
</tr>
</table>